@import "tailwindcss";

:root {
  --color-primary: #003e6f;
  --color-primary-container: #005696;
  --color-surface: #f7f9fb;
  --color-on-surface: #191c1e;
}

@theme inline {
  --font-headline: var(--font-plus-jakarta);
  --font-body: var(--font-inter);
}

html,
body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}
